{% extends 'base.html.twig' %}
{% block title %}Новый кредит{% endblock %}
{% block body %}
    <h1 class="text-center">Оформление нового кредита</h1>
    {{ form(form) }}
{% endblock %}
{% block stylesheets %}
{% endblock %}